{{- $url := index (strings.Split .Destination "#") 0 }}
{{- $class := index (strings.Split .Destination "#") 1 }}
<figure>
	{{ if not (hasPrefix $url "/") }}
		{{ $url = (printf "%s%s" .Page.RelPermalink $url) }}
	{{ end }}

	{{ $thumbUrl := $url }}
	{{ $thumb := resources.Get $url }}
	{{ if not (hasSuffix $url "svg") }}
		{{- $thumbUrl = ($thumb.Resize "600x").RelPermalink }}
	{{ else }}
		{{- $thumbUrl = $thumb.RelPermalink }}
	{{ end }}
	<a href="{{ $thumb.Permalink }}" class="lightbox">
		<img src="{{ $thumbUrl }}" class="center {{ $class }}" loading="lazy"{{ with .Text }} alt="{{ . }}"{{ end }}{{ with .Title}} title="{{ . }}"{{ end }}>
	</a>
	{{ with .Title }}
		<figcaption>{{ . }}</figcaption>
	{{ end }}
</figure>